{
    "presets": ["env","es2015"], 
    "plugins": [
        ["babel-plugin-transform-builtin-extend", {
            "globals": ["Error", "Array"]
        }],
        ["transform-runtime", {
          "regenerator": true
        }]
    ]
}